{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Books</h1>
            </div>
            <div>
                <ul>
                {% for book in books %}
                    <li>
                        <a href="{{ path('showBook', {'name':  book.name}) }}">{{ book.name }}</a>
                        ::
                        <a href="{{ path('showGenreBooks', {'name':  book.genres}) }}">{{ book.genres }}</a>
                    </li>
                {% endfor %}
                </ul>

                <a href="{{ path('homepage', {'page':  page+1}) }}">See more</a>
            </div>
        </div>
    </div>
{% endblock %}
